* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #141414;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

span {
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}